*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background: aqua;
}

.container{
   width: 360px;
   margin: 0 auto;
   padding: 50px 20px;
   display: flex;
   justify-content: space-between;
}
h1{
   text-align: center;
   margin-top: 100px;
}
.box{
   height: 70px;
   width: 70px;
   border-radius: 10px;
   text-align: center;
   background: blueviolet;
}

.count{
   margin-top: 20px;
   font-size: 25px;
   color: white;
}
